---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Try Pulse free for 30 days.</h1>
    <p>
      See why Pulse is the best way to monitor your cash flow. Sign up for any
      plan and try Pulse absolutely free for 30 days.
    </p>
  </main>
</Layout>

<style>
  main {
    padding: 0 1rem;
  }
</style>
