<header class="header">
  <nav class="navbar">
    <div class="display__container">
      <div class="logo_container">
        <img src="/pulse-logo.svg" alt="Pulse Logo" />
      </div>

      <label class="menu__toggle" for="toggle">
        <svg viewBox="0 0 35 22" xmlns="http://www.w3.org/2000/svg"
          ><title>Menu - Open</title><path
            fill="currentColor"
            d="M0 0h35v2H0zM0 10h35v2H0zM0 20h35v2H0z"></path></svg
        >
      </label>
    </div>

    <input type="checkbox" name="toggle" id="toggle" />

    <div class="menu">
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="/">Features</a></li>
        <li class="menu__item">
          <a class="menu__link" href="/">Customer Stories</a>
        </li>
        <li class="menu__item"><a class="menu__link" href="/">Pricing</a></li>
        <li class="menu__item"><a class="menu__link" href="/">Blog</a></li>
        <li class="menu__item"><a class="menu__link" href="/">Contact</a></li>
        <li class="menu__item"><a class="menu__link" href="/">Support</a></li>
      </ul>

      <a href="/" class="menu__sign-up"
        ><span class="sign-up__text">Sign Up</span></a
      >
    </div>
  </nav>
</header>

<script>
  const textSignUp = document.querySelector(".sign-up__text");

  window.addEventListener("resize", () => {
    const windowWidth = window.innerWidth;

    if (windowWidth > 500 && windowWidth < 768) {
      // @ts-ignore
      textSignUp.innerText = "Sign Up for a Free 30-Day Trial";
    } else {
      // @ts-ignore
      textSignUp.innerText = "Sign Up";
    }
  });
</script>

<style>
  .header {
    height: fit-content;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .display__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    padding: 1rem;
  }

  .menu__toggle {
    cursor: pointer;
  }

  .menu__toggle::selection {
    background-color: transparent;
  }

  .menu__toggle svg {
    width: 2rem;
    height: 2rem;
    color: var(--green);
  }

  .menu__toggle svg:hover {
    color: var(--ligth-green);
  }

  input[type="checkbox"] {
    display: none;
  }

  .menu {
    display: none;
    padding: 2rem 1rem;
    position: relative;
  }

  .menu__item {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--green);
    cursor: pointer;
    animation-name: item-appear;
    animation-timing-function: ease-in-out;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    opacity: 0;
  }

  /* ITEMS ANIMATIONS */

  .menu__item:nth-child(2) {
    animation-delay: 0.1s;
  }

  .menu__item:nth-child(3) {
    animation-delay: 0.2s;
  }

  .menu__item:nth-child(4) {
    animation-delay: 0.3s;
  }

  .menu__item:nth-child(5) {
    animation-delay: 0.4s;
  }

  .menu__item:nth-child(6) {
    animation-delay: 0.5s;
  }

  .menu__item:hover {
    color: var(--black);
  }

  .menu__sign-up {
    background: linear-gradient(to right, var(--green), var(--ligth-green));
    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1.2rem 1rem;
    display: inline-block;
    position: relative;
    animation: item-appear 0.6s ease-in-out 0.6s both;
    box-shadow: 0px 0px 0px var(--black-shadow);
  }

  .sign-up__text {
    opacity: 0.9;
  }

  .menu__sign-up:hover {
    top: -6px;
    left: 6px;
    box-shadow: -6px 6px 0px var(--black-shadow);
  }

  @media screen and (min-width: 768px) {
    .display__container {
      background-color: transparent;
      border: none;
    }

    .navbar {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 1rem;
    }

    .menu__toggle {
      display: none;
    }

    .menu {
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
      padding: 0;
    }

    .menu__list {
      display: flex;
      column-gap: 2.5rem;
    }

    .menu__item {
      margin-bottom: 0;
    }

    .menu__item,
    .menu__sign-up {
      font-size: 1rem;
    }

    .menu__item:nth-child(5) {
      display: none;
    }

    .menu__item:last-child {
      display: none;
    }

    .menu__sign-up {
      display: flex;
      background: var(--subtle-green);
      border: 2px solid var(--green);
      padding: 0.4rem 1.5rem;
    }

    .menu__sign-up:hover {
      top: -6px;
      left: 6px;
      box-shadow: -6px 6px 0px var(--green);
    }

    .sign-up__text {
      opacity: 1;
      color: var(--green);
    }
  }
</style>
